.d-flex{
  display: flex;
  gap: 10px;
}
img{
  width: 300px;
}
ul{
  list-style-type: none;
  padding: 0;
}
input[type=checkbox]{
  display: none;
}
input[type=checkbox]+label{
  display: inline-block;
  background-color: #f6dec4;
  color: #ff9500;
  width: 80px;
  padding: 4px;
  text-align: center;
  margin-bottom: 4px;
  border-radius: 4px;
}
input[type=checkbox]:checked+label{
  background-color: #eb4141;
  color: #ffffff;
}